<!DOCTYPE html>
<html>
<head>
<title>Welcome to the Handy Dandy Flask Tutorial!</title>
</head>
<body>

<h1>As you can see, this class is still in development</h1>
<p>But do not fear! By the time you finish learning the powerful minimal toolkit that is Flask,</p>
<p>your frontend will leave much to desire but at least the services you write will be in working condition!</p>
<img src="https://preview.redd.it/u9v1bvq0j6611.jpg?width=960&crop=smart&auto=webp&s=3d5e406e69c3c2c9bd8913f620ac2c634c0b2b58" alt="">


<ul>
    <li><a href='/hello'>Say Hello!</a></li>
    <li><a href='/user'>Username/Comments</a></li>
    <li><a href='/goodbye'>Now Say Goodbye!</a></li>
</ul>

</body>
</html>
